<div class="header-wrapper">
  <div class="header">
    <div class="logo-wrapper text" (click)="reRouteHomePage()">
      <div class="logo">
        <img src="assets/favicon-black.svg" alt="">
      </div>
      <div class="name">
        HotfixDaily
      </div>
    </div>
    <div (click)="openGithubRepo()" class="github-link" title="HotfixDaily Github Repository">
      <i class="fa fa-github"></i>
      <!-- <span class="text">Github</span> -->
    </div>
  </div>
</div>

<div class="categories-wrapper">
  <app-categories [categories]="allCategories"></app-categories>
</div>

<!-- <div id="header">
  <div class="logo">
    <a href="#">Hotfix Daily</a>
  </div>
  <nav>
    <ul>
      <ng-container *ngFor="let item of displayCategories.important">
        <li>
          <a (click)="selectCategory(item)" href="">{{ item.categoryName }}</a>
        </li>
      </ng-container>
      <li>
        <ng-container *ngIf="displayCategories.more.length">
          <a href="">More</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ng-container *ngFor="let moreCat of displayCategories.more">
                <ul class="mega-col">
                  <ng-container *ngFor="let category of moreCat">
                    <li>
                      <a href="">{{ category.categoryName }}</a>
                    </li>
                  </ng-container>
                </ul>
              </ng-container>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </nav>
</div> -->