@import "src/app/style/variables";

.postpage-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 680px !important;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.post-section {
  margin: 20px 0;
  padding: 0 20px;
  width: calc(100% - 80px);
  img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }
}

h1,
h2,
p,
div {
  font-family: $font-family;
}

p {
  line-height: 25px;
  text-align: justify;
}
.text {
  line-height: 25px;
  font-family: $font-family;
  b {
    line-height: 25px;
    font-family: $font-family;
  }
}

.footer {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  margin-top: 100px;
  width: 100%;
  color: white;
  text-align: center;
}

pre {
  background-color: #dcdcdc;
  padding: 15px;
  font-family: $font-family;
  border-radius: 5px;
}
